.over{
  color:white;
 padding-left: 450px;
  padding-top:20px;
  height:78vh;
  background: linear-gradient(0deg, rgba(101, 137, 179, 0.9),rgba(101, 137, 179, 0.8)), url(..//..//assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
   
  }
  .btn{
    background-color:#F15132;
    color: white;
    width: 150px;
    margin-right: 20px;
  }
  .head,.fot{
    color: #3D5476;;
    text-align: center;
  }
  .icon{
    height: 150px;
    width: 200px;
    background-color: white;
  }
  .icos{
    display: flex;
    margin-top: 30px;
  }
  .slide{
    padding-left: 100px;

  }
  .smal{
    margin-top: 25px;
    margin-left: 50px;
  }
  .sign{
    background-color: #3D5476;
    border: none;
    color: white;
    width: 120px;
    height: 35px;

  }
  
  